.logo {
  display: block;
  margin: auto;
  min-width: 300px;
  width: 80vw;
  max-height: 80vh;
}

.logo-footer {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }

  .logo {
    filter: invert();
  }
}
