body {
  margin: 0;
}

.logo-container {
  height: 100vh;
}

.logo-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  display: block;
  min-width: 300px;
  width: 80vw;
  min-height: 225px;
  max-height: 80vh;
}

.logo-text {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #fff;
  }

  .logo {
    filter: invert();
  }
}
